* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: black;

  @include tablets{
    font-size: 17px;
  }

  @include phones{
    font-size: 15px;
  }
}

ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

input,
textarea {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img, svg {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}