.footer {
  padding: rem(20px);
  background-color: $beige;
  flex-shrink: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablets {
      flex-direction: column;
    }
  }

  &__social, &__desc {
    flex: 1;
  }

  &__desc {
    font-size: rem(22px);
    font-weight: bold;

    @include tablets {
      margin-bottom: rem(5px);
    }
  }
}