.footer {
  padding: 20px;
  background-color: $beige;
  flex-shrink: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social, &__desc {
    flex: 1;
  }

  &__desc {
    font-size: 22px;
    font-weight: bold;
  }
}