.projects {
  position: relative;
  background-color: white;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: .5s;

  &__arrow {
    transform: rotate(180deg);
    top: 5%;
  }

  &__container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}