.slider {
  padding-top: rem(20px);
  // height: 70vh;
  height: 64vh;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;

  @include phones {
    // Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X 
    touch-action: pan-y;
  }

  &__content {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @include tablets {
      overflow: hidden;
    }

    @include phones {
      justify-content: center;
    }
  }

  &__list {
    height: 100%;
    width: 80%;
    display: flex;
    border-bottom: 3px solid $beigeDark;

    @include phones {
      width: 100%;
      cursor: grab;
    }
  }

  &__item {
    display: none;
    padding: rem(10px);
    transition: 1s;
    height: 100%;
    align-items: center;

    @include tablets {
      flex-direction: column;
    }
  }

  &__item--active {
    display: flex;
    transition: 1s;
  }

  &__arrow:hover {
    #arrow {
      fill: $beige;
      transition: .7s;
    }
  }
  
  &__arrow--disabled {
    filter: opacity(.3);
    cursor: default; 

    &:hover {
      #arrow {
        fill: inherit;
      }
    }
  }

  &__arrow-img {
    position: relative;
  }

  &__prev {
    transform: rotate(90deg);

    @include phones {
      display: none;
    }
  }

  &__next {
    transform: rotate(-90deg);

    @include phones {
      display: none;
    }
  }

  &__desc, &__img {
    width: 50%;

    @include tablets {
      width: 100%;
    }
  }

  &__desc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;

    @include tablets {
      justify-content: flex-start;
    }
  }

  &__img {
    margin-right: rem(10px);

    @include tablets {
      margin-right: 0;
    }

    & img:hover {
      margin: 0;
      padding: 0;
      border: 2px solid $beigeDark;
      border-radius: 7px;
      transition: .3s;
      transform: scale(1.3);
      z-index: 1;
    }

    @include tablets {
      & img:hover {
        transform: scale(1);
        border: none;
        border-radius: 0;
        transition: 0;
      }
    }
  }

  &__text {
    padding-left: 2px;
    font-size: rem(14px);

    @include tablets {
      padding-left: 0;
    }
  }

  &__title {
    font-weight: bold;
  }

  &__tech {
    margin-top: rem(15px);
    font-weight: 600;

    @include tablets {
      margin-top: rem(10px);
    }
  }

  &__links {
    margin-top: rem(15px);
    color: $beigeDark;

    @include tablets {
      margin-top: rem(10px);
    }
  }

  &__link {
    text-decoration: underline;

    &:first-child {
      margin-right: rem(10px);
    }
  }

  &__counter {
    margin-top: rem(10px);
  }
}