.social {
  display: flex;
  gap: rem(15px);

  &__link {
    border-radius: 50%;
  }

  &__img {
    max-width: 100%;
    width: rem(30px);
    padding: 2px;

    @include tablets {
      width: rem(35px);
    }
  }
}

.intro__social {
  justify-content: center;
  align-items: center;
}

.projects__social {
  justify-content: flex-end;
  align-items: flex-end;
}