.wrapper {
  font-variant-numeric: lining-nums;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.section {
  min-height: 100vh;
  height: 100%;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  transition-delay: .2s;
  display: inline-block;
  padding: 3px;
  background-color: transparent;
  border: 2px solid transparent;

  &:hover {
    background-color: $beigeDark;
    border-color: $beigeDark;
  }
}

.btn.btn-text {
  border: 2px solid $beigeDark;
  border-radius: 7px;
  padding: 5px;
}

.projects {
  background-color: white;
}