.arrow {
  min-width: rem(50px);
  min-height: rem(50px);
  position: absolute;
  right: 5%;
  transition-delay: .2s;
  display: inline-block;
  border-radius: 50%;
  padding: 3px;
  background-color: black;
  border: 2px solid black;

  @include phones {
    display: none;
    // min-width: 2rem;
    // min-height: 2rem;
  }
  
  #arrow {
    transition-delay: .2s;
    fill: white;
  }

  &:hover {
    background-color: $beigeDark;
    border-color: $beigeDark;

    #arrow {
      fill: black;
    }
  }

  &__img {
    max-width: 100%;
    width: rem(25px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include phones {
      width: rem(20px);
    }
  }
}